      <div id="divHeader">
            <div id="divNW">
                </div>
            <div id="divN"> <span id="spanStatus"> Social Networking Links </span>
                </div>
            <div id="divNE">
                </div>
        </div>
        <!-- div id="divNoContrast"></div -->

    <div id="divBanner" >
            <div id="divLogo" >
                <a href="{{ path('homepage') }}">
                    <img id="imgBanner" src="{{ asset('_images/archfizz-banner.png') }}" title="Homepage" alt='ArchFizz' />
                </a>
                </div>
            <div id="divSocial" >
                    <ul class="clSocial">
                        <li class="clSocial">
                            <a href="http://uk.linkedin.com/in/archfizz">
                            <img src="{{ asset('_images/sn-in0.png') }}" class="linkSocial imgRollover" alt="LinkedIn Profile" title="ArchFizz on LinkedIn" id="imgLinkedin" /></a>
                        </li>
                        <li class="clSocial">
                            <a href="http://youtube.com/archfizz">
                            <img src="{{ asset('_images/sn-yt0.png') }}" class="linkSocial imgRollover" alt="YouTube Channel" title="ArchFizz on YouTube" id="imgYoutube" /></a>
                        </li>
                    </ul>
                </div>
        </div>

    <div id="divInfo">
        <div id="divBreadcrumb"> /
        </div>
        <div id="divAbout">
            <span id="spanAbout">About &nbsp;</span>
            <span>
                <a href="{{ path('about') }}" >
                     <img src="{{ asset('_images/about0.png') }}" class="imgRollover" id="imgAbout" alt="About" title="About This Site" />
                </a>
            </span>
        </div>

    </div>
