{% extends "index.html.twig" %}

{% block content %}
    <div id="divMessage">

        <div class="clMessage">        <b>University Work: Year 3 | Project 2: The Travel Club</b>
                                    <p>Location: Barnes Station,  South-West London</p>
        </div>
        <div class="clMessage">Codes: AM - AutoCAD Model; AD - AutoCAD Drawing; AS - AutoCAD Sketch; CL - Collage; MM - Physical Model <br />
      </div>
        <div class="clMessage" style="color:#FFF"> BRIEF: To design a club about an interest of our choice in a location of our choice. <br /><br />

Travel was the chosen theme and a brownfield site next to Barnes Station was chosen because of its close proximity to the River Thames and not to far away from the centre of London. Also because even though the site is on Barnes Common, it's listed as a brownfield site.
             </div>
      </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-352-travelclubinsiderender.jpg') }}" />
            <br /> AM352 - Travel Club: Ground Level rendering
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-351-travelclubunderstairs.jpg') }}" />
            <br />
            AM351 -  Ground Level Behind Stairs - Library Space
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-353-travelclubupperlevel.jpg') }}" />
            <br />
            AM353 - Upper Level:  Exhibit Space
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-354-upperlevel.jpg') }}">
            <br />
            AM354 - Upper Level: Mezzanine to Courtyard Balcony entrance
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-355-travelcluboutsidecentre.jpg') }}" />
            <br />
            AM355 - Courtyard
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-356-room.jpg') }}" />
            <br />
            AM356 - Conference Room
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-357-courtyardsansglobe.jpg') }}" />
            <br />
            AM357 - Courtyard sans globe monument
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-363-cornerjpg.jpg') }}" />
            <br />
            AM363 - Corner Balcony
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-364-travelclub.jpg') }}" />
            <br />
            AM364 - Travel Club Barnes Station
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AM-358-room2.jpg') }}" />
            <br />
            AM358 - Maps Room
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AD-361-westsidegroundlevel.jpg') }}" />
            <br />
            AD361 - Ground Level Plan: West
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AD-351-initialscheme.jpg') }}" />
            <br />
            AD351 - Initial Scheme - (north towards top of map)<br />
            The lake around the building was reduced in final design
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/SK-381-final.jpg') }}" />
            <br />
            SK381 - Sketching out the final design
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/CL-361-collageworld.jpg') }}" />
            <br />
            CL361 - Collage World Map<br />
            The roof design came from this sketch
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/AS-361-mapofworldcollage.jpg') }}" />
            <br />
            AS361 - Extruding a Collage of the Political World Map
        </div>

        <div class="divImage">
            <img src="{{ asset('_images/SK-382-concept.jpg') }}" />
            <br />
            SK382 - Sketch of Initial Concept
        </div>

{% endblock content %}
